<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Listagem de tarefa</title>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="list">Cadastro de tarefas</a>
    <a class="btn btn-primary" href="create">Cadastrar</a>
  </div>
</nav>
  <table class="table">
    <h3>Task!</h3>
    <thead>
      <tr>
        <th scope="col">Contagem</th>
        <th scope="col">Nome da tarefa</th>
        <th scope="col">Data de criação</th>
        <th scope="col">Data de entrega</th>
        <th scope="col">Alteração</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="task : ${tasks}">
        <td data-th-text="${task.id}"></td>
        <td data-th-text="${task.name}"></td>
        <td data-th-text="${{task.data}}" disabled></td>
        <td data-th-text="${{task.dataEntrega}}"></td>
        <td>
          <a th:href="@{'/edit/'+${task.id}}" class="btn btn-primary">Editar</a>
          <a th:href="@{'/delete/'+${task.id}}" class="btn btn-danger">Remover</a>
        </td>
      </tr>
     
    </tbody>
  </table>

</body>
</html>